<h1>Sponsors</h1>
<div class="error hidden" id="error-container">
    <div class="alert alert-danger text-goes-here"></div>
</div>
    {{#each sponsors}}
    <article class="Sponsor">
      <h2>{{charityName}}</a></h2>
      <p>{{details}}</p>
{{/each}}
<script src="/public/js/main.js"></script>